form {
    max-width: 600px;
}

form > div:not(.radio-field) {
    display: flex;
    align-items: baseline;
}

form > div:not(.radio-field,.form-controls) > * {
    flex: 50%;
}

form > div:not(.radio-field) > label {
    height: fit-content;
}

form div.radio-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form > div.form-controls {
    justify-content: end;
}

form > div.form-controls > * {
    margin-left: 20px;
}

/* stile campi di input */
form input:not([type=radio]),
form select,
form textarea {
    border: 2px solid transparent;
    outline: none;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: initial;    /* uniforma questa proprietà tra tan input, select e textarea */
    line-height: 1.5;
    color: #4f4f4f;

    display: inline-block;
    background: #efefef;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 10px;
}

form input:not([type=radio]):focus,
form select:focus,
form textarea:focus {
    background: #e1e1e1;
}

form input:not([type=radio]).red-border,
form select.red-border,
form textarea.red-border {
    border: 2px solid red;
}

form textarea {
    height: auto;
    min-height: 40px;
}

/* stile bottoni radio */
form input[type=radio] {
    appearance: none;   /* rimuove lo stile di base dei bottoni radio */

    border-radius: 50%;
    width: 20px;
    height: 20px;

    position: relative; /* spostare leggermente in basso il radio visto che è più grande */
    top: 5px;

    border: none;
    background: #efefef;
    cursor: pointer;

    display: inline-block;
    margin: 0px 20px;
}

form input[type=radio]:checked {
    border: 6px solid #0078d6;
}

/* stile contenitore dei messaggi di errore del form */
.error-section {
    font-family: sans-serif;
    border-radius: 12px;
    background: #ffaaaa;
    border: none;
    margin: 10px 0px;

    display: none;  /* di default è nascosto per quando non ci sono errori */
}

.error-section.visible {    /* classe da aggiungere per mostrare gli errori */
    /* siccome questo selettore css è più specifico, il display: none viene sovrascritto */
    display: block;
}

.error-section legend {
    height: 40px;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 8px;
    color: white;
    background: #d00000;
}

/* stile pulsanti form */
.form-controls > button {
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.5;

    display: inline-block;
    background: #efefef;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 10px;

    transition: background-color 0.25s ease-in-out;
}

.form-controls > button:hover {
    background: #d7d7d7;
}

.form-controls > button:active {
    background: #b7b7b7;
}

.form-controls > button[type=submit] {
    background-color: #91ef91;
    font-weight: bold;
}

.form-controls > button[type=submit]:hover {
    background: #53ff53;
}

.form-controls > button[type=submit]:active {
    background: #1ca107;
}

