.form {

}

/* stile campi di input */
.form-signin input:not([type=radio]) {
    border: 2px transparent;
    outline: none;

    font-size: 16px;
    line-height: 1.5;
    color: #4f4f4f;

    display: inline-block;
    background: #efefef;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.form-signin input:not([type=radio]):focus {
    background: #e1e1e1;
}

/* stile bottoni radio */
.form-signin input[type=radio] {
    appearance: none;   /* rimuove lo stile di base dei bottoni radio */

    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 1.5;

    border: none;
    background: #efefef;
    cursor: pointer;

    display: inline-block;
    margin-bottom: 10px;
}

.form-signin input[type=radio]:checked {
    border: 6px solid #0078d6;
}

/* stile contenitore dei messaggi di errore del form */
.error-section {
    font-family: sans-serif;
    border-radius: 12px;
    background: #ffaaaa;
    border: none;
}

.error-section legend {
    height: 40px;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 8px;
    color: white;
    background: #d00000;
}