.form-signin {
    max-width: 600px;
}

.form-signin > div:not(.radio-field) {
    display: flex;
    align-items: baseline;
}

.form-signin > div:not(.radio-field,.form-controls) > * {
    flex: 50%;
}

.form-signin > div:not(.radio-field) > label {
    height: fit-content;
}

.form-signin > div.radio-field {
    display: flex;
    margin-bottom: 10px;
}

.form-signin > div.form-controls {
    justify-content: end;
}

.form-signin > div.form-controls > * {
    margin-left: 20px;
}

/* stile campi di input */
.form-signin input:not([type=radio]) {
    border: 2px transparent;
    outline: none;

    font-size: 16px;
    line-height: 1.5;
    color: #4f4f4f;

    display: inline-block;
    background: #efefef;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.form-signin input:not([type=radio]):focus {
    background: #e1e1e1;
}

/* stile bottoni radio */
.form-signin input[type=radio] {
    appearance: none;   /* rimuove lo stile di base dei bottoni radio */

    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 1.5;

    border: none;
    background: #efefef;
    cursor: pointer;

    display: inline-block;
    margin: 0px 20px;
}

.form-signin input[type=radio]:checked {
    border: 6px solid #0078d6;
}

/* stile contenitore dei messaggi di errore del form */
.error-section {
    font-family: sans-serif;
    border-radius: 12px;
    background: #ffaaaa;
    border: none;
    margin: 10px 0px;

    display: none;  /* di default è nascosto per quando non ci sono errori */
}

.error-section.visible {    /* classe da aggiungere per mostrare gli errori */
    /* siccome questo selettore css è più specifico, il display: none viene sovrascritto */
    display: block;
}

.error-section legend {
    height: 40px;
    line-height: 2.5;
    padding: 0 20px;
    border-radius: 8px;
    color: white;
    background: #d00000;
}

/* stile pulsanti form */
.form-controls > button {
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.5;

    display: inline-block;
    background: #efefef;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.form-controls > button[type=submit] {
    background-color: #91ef91;
    font-weight: bold;
}